
{
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "node": true,
    },
    "plugins": ["react", "emotion"],
    "parser": "babel-eslint",
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "class-methods-use-this": "off",
        "import/prefer-default-export": "off",
        "global-require": "off"
    }
}
